services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  backend-server:
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      - redis
      - rabbitmq
      - message-worker

  message-worker:
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    command: ["npm", "run", "worker"]
    depends_on:
      - rabbitmq

volumes:
  redis-data: {}
  # backend-node-modules:
  # worker-node-modules:
